.blue{
    background-color: hsla(216, 65%, 61%, 1);
}
.teal{
    background-color: hsla(163, 62%, 68%, 1);
}
.green{
    background-color: hsla(86, 64%, 74%, 1);
}
.yellow{
    background-color: hsla(55, 89%, 64%, 1);
    display: flex;
    align-self: flex-end;
    justify-content: flex-end;
    padding: 3px;
}
.space {
    height: 20vh;
}
header{
    height: 10vh;
    background-color: hsla(0, 0%, 85%, 1);
    display: flex;
    align-items: center;
}

.white{
    padding: 25px;
}
.square {
    height: 60px;
    width: 60px;
    margin: 1em;
    
}
.questionmark {
    background-color: black;
    height: 30px;
    width: 30px;
    border-radius: 30px;
    color: white;
    display: flex; 
    align-items: center;
    justify-content: center;
    align-self: flex-end;
    justify-self: flex-end;

}
